%-*-Erlang-*-
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
    {cowboy, "2.14.2"},
    {prometheus, "6.1.2"},
    {prometheus_cowboy, "0.2.0"}
]}.

{minimum_otp_vsn, "28"}.

{profiles, [
    {test, [
        {erl_opts, [nowarn_export_all]},
        {deps, [
            {gun, "2.2.0"},
            {meck, "1.1.1"}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {include_src, false}
        ]},
        {deps, [
            {recon, "2.5.6"},
            {observer_cli, "1.8.7"}
        ]}
    ]}
]}.

{relx, [
    {release, {'next-chf', semver}, [
        chf,
        chf_core,
        sasl,
        runtime_tools
    ]},
    {exclude_apps, [wx]},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, false},
    {extended_start_script, true}
]}.

{xref_checks, [locals_not_used, deprecated_function_calls,
               exports_not_used, deprecated_functions]}.

{dialyzer, [
    {plt_extra_apps, [cowlib]}
]}.

{ct_opts, [
    {create_priv_dir, manual_per_tc}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

{do_coveralls_after_ct, false}.
{do_coveralls_after_eunit, false}.
{coveralls_coverdata, "_build/test/cover/ct.coverdata"}.
{coveralls_service_name, "github"}.
{coveralls_parallel, true}.

{shell, [{config, "priv/dev.config"}]}.
